/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    line-height: 1;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/* top navbar styles */
.navTop {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3% 5% 0 0;
}
.navTop a {
    color: black;
    text-decoration: none;
}
.jumbo {
    margin: 5% 0 3% 0;
}
.jumbo img {
    width: 100%;
}
/* top navbar styles end */

.container {
    width: 800px;
    margin: 0 auto;
}
/* top content styles */
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
/* top content styles end */

/* middle content styles */
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    /* background: black; */
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* box coloring */
.box.one {
    background-color: teal;
}
.box.two {
    background-color: gold;
}
.box.three {
    background-color: cadetblue;
}
.box.four {
    background-color: coral;
}
.box.five {
    background-color: crimson;
}
.box.six {
    background-color: forestgreen;
}
.box.seven {
    background-color: darkorchid;
}
.box.eight {
    background-color: hotpink;
}
.box.nine {
    background-color: indigo;
}
.box.ten {
    background-color: dodgerblue;
}
/* box coloring ends */

/* middle content styles end */

/* bottom content styles */
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
/* bottom content styles end */

/* footer styles */
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* footer styles end */

/* media queries */
@media(max-width:800px){
    /* *{
        border: 1px solid blue;
    } */

    .container {
        width: 80%;
    }

    /* top nav styles */
    .navTop a {
        font-size: 1.4rem;
    }
    .navTop img {
        width: 25%;
    }

    /* smaller font on paragraphs */
    .text-container p {
        font-size: 1.4rem;
    }

    /* bottom nav link padding */
    nav a{
        padding: 0 2%;
    }
}

/* mobile */
@media(max-width:500px){
*{
    border: 1px solid red;
}
}